.share-btns {
    display: flex;
    align-items: center;
}

.share {
    margin-right: 3rem;
    transition: transform 1s;
}

.share * {
    transition: color 2s;
}

.share:hover {
    transform: translateY(-0.5em);
  }

@media (max-width: 300px) {
    .share {
        margin-right: 2rem;
    }
}